*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;         /*[It was not required though] To stop appearing same image multiple times*/
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

#scoreBox{
    position: absolute;
    top: 35px;
    right: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Original Surfer', cursive;

}
h2{
    color: rgb(130, 8, 167);
    margin-top: 250px;
    margin-left: 30px;
    font-family: 'Original Surfer', cursive;
    font-size:xx-large ;
}

#highscoreBox{
    position: absolute;
    top: 35px;
    right: 1000px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Original Surfer', cursive;
}

#board{
    background: linear-gradient(rgb(188, 233, 179),rgb(233, 194, 151));
    width: 90vmin;
    height:92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    margin-left: 30px;
    margin-top: 20px;
}

.head{
    background: linear-gradient(rgb(5, 138, 5),rgb(0, 0, 20));
    border-radius: 11px;
    border: 2px solid rgb(12, 1, 1);
    transform: scale(1.05);
}
.snake{
    background: linear-gradient(rgb(155, 92, 10),black) ;
    border: .25vmin solid white;
    border-radius: 9px;
}

.food{
    background: linear-gradient(rgb(243, 241, 238),rgb(248, 31, 132));
    border: 2px solid black;
    border-radius: 50px;
    width: 0.97em;
    height: 0.97em;
    }